---
Language: Cpp
BasedOnStyle: LLVM
AlignAfterOpenBracket: BlockIndent
AlignTrailingComments:
  Kind: Never
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
BreakFunctionDefinitionParameters: true
ColumnLimit: 120
# Cpp11BracedListStyle: false
IncludeIsMainRegex: (^((test_)|(test)))|(((_test)|(Test))?$)
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
IndentWidth: 4
IndentWrappedFunctionNames: true
InsertBraces: true
InsertNewlineAtEOF: true
IntegerLiteralSeparator:
  Binary: 4
  Decimal: 3
  Hex: 2
KeepEmptyLines:
  AtStartOfBlock: false
  AtStartOfFile: false
LineEnding: LF
PointerAlignment: Left
QualifierAlignment: Left
RemoveParentheses: ReturnStatement
SpaceAfterCStyleCast: true
SpaceAfterTemplateKeyword: false
SpaceBeforeParensOptions:
  AfterRequiresInClause: true
  AfterRequiresInExpression: true
TabWidth: 4
Macros:
  - TEST_CASE(x)
