# Vim cached files
*.swp
*.swo

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# the build directory
build/
Testing/

# documentation
doc/api/
doc/xml/
doc/_build

coverage.info
cov_html
VERSION

# Environment related
.DS_Store
.vscode/
.idea/
.venv
.cache/*

# Python binding related
bindings/python/**/*.cpp
.ipynb_checkpoints/
**/__pycache__/
bindings/python/.coverage
bindings/python/dist
bindings/python/libmata.egg-info
bindings/python/libmata.cpp
bindings/python/**/*.dot
bindings/python/**/*.pdf
bindings/python/MANIFEST

# Performance and profiling tests
tests-integration/pycobench.tasks
tests-integration/inputs/*.input
tests-integration/jobs/*.yaml
tests-integration/src/utils/config.hh
tests-integration/results/*.csv
tests-integration/results/*.out
tests-integration/results/*.output
