recursive-include libmata *.pyx
recursive-include libmata *.pxd
include pyproject.toml
include mata/CMakeLists.txt
include mata/Doxyfile.in
include mata/LICENSE
include mata/Makefile
include mata/README.md
include mata/VERSION
recursive-include mata/3rdparty *
recursive-include mata/cli *
recursive-include mata/cmake *
recursive-include mata/include *
recursive-include mata/src *
recursive-include mata/tests *
recursive-include mata/scripts *
recursive-include mata/unit-test-data *
