name: MacOS (build-werror)

on:
  push:
    branches:
      - master
      - devel
  pull_request:
    branches:
      - master
      - devel

jobs:
  setup:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: Building MacOS dependencies
        run: brew install lcov gcovr automake
      - name: Compile the static and shared libraries
        run: make release-werror
